@use "../../Assets/_variables.scss" as *;

.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: $grey;
  box-sizing: border-box;
  border-top: $border-height solid $black;

  &__section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-tile {
      width: 80%;
      height: 550px;
      justify-items: center;
      align-content: space-around;
      background-color: $red;
      box-shadow: 20px 20px black;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin: auto;
      position: relative;
    }

    &-blueLine {
      width: 70%;
      height: 12px;
      background-color: $blue;
      margin: 10px 0 30px 0;
    }
  }

  &__greeting {
    width: auto;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      font-family: $headingFont;
      font-size: $mobile-heading;
      padding: 2px;
      margin-bottom: 10px;
      border-bottom: solid 2px $red;
      width: auto;
      text-align: center;

    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $grey;
    box-sizing: border-box;
    border-top: $border-height solid $black;

    &__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-tile {
        width: 80%;
        height: 550px;
        justify-items: center;
        align-content: space-around;
        background-color: $red;
        box-shadow: 20px 20px black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
        position: relative;
      }

      &-popUp {
        position: absolute;
        z-index: 1;
        align-self: center;
        justify-self: center;
        background-color: $white;
        border: solid 12px $black;
        height: 80%;
        width: 80%;
      }

      &-blueLine {
        width: 70%;
        height: 12px;
        background-color: $blue;
        margin: 10px 0 30px 0;
      }
    }

    &__greeting {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white;

      &-title {
        font-family: $headingFont;
        font-size: 4em;
        writing-mode: vertical-rl;
        border-left: solid 2px $red;
        padding: 5px;
        border-bottom: 0;
      }
    }
  }
}
