@use "../../Assets/_variables.scss" as *;

.contact-form-cover {
  background-color: $red;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &__text {
    padding: 40px;
    margin: auto;
    word-spacing: 100vw;
    font-family: $headingFont;
    font-size: 5rem;
    color: $white;

    span{
      border-bottom: 5px solid $white;
      padding-bottom: 3px;
    }

    span:hover{
      color: black;
      border-bottom: 5px solid $black;
      cursor: pointer;
    }


  }
}
