@use "../../Assets/_variables.scss" as *;

.contact-form-cover {
  background-color: $red;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;

  &__text {
    margin-bottom: 20px;
    word-spacing: 100vw;
    text-align: left;
    font-family: $headingFont;
    font-size: 5rem;
    wrap: break-word;
    color: $white;

    span {
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &__email {
    font-family: $headingFont;
    color: $white;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 4px solid $white;
    padding-bottom: 3px;
    width: auto;
    text-decoration: none;
  }

  &__question{
    color: $white;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: $headingFont;
  }


}
