@use "../../Assets/_variables.scss" as *;

.projectPopUp {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__imageHolder {
    width: 50%;
    height: 100%;
    overflow: hidden;

    &-image {
      width: 100%;
      object-fit: cover;
      object-fit: contain;
      overflow: hidden;
    
    }
  }

  &__details {
    width: 50%;
    height: 100%;

    &-blackcross {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      z-index: 1;
    }
  }
}
