@use "../../Assets/_variables.scss" as *;



.timeline__element-icon{
  display: block;
  border: black solid 3px;
  box-shadow: none;
  background-color:none;
  object-fit: cover;
  align-items: center;

  img{width:100%;
    border-radius:50%;
  object-fit: cover;}

}

.vertical-timeline-element-content{
  box-shadow: none;
}

.vertical-timeline-element-content{
  font-family: $headingFont;
  color: white;

  p{font-family: $bodyFont;}
}


.vertical-timeline-element-date{color:black;}