@use "../../Assets/_variables.scss" as *;

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-area: 1/-1;
  height: 10vh;
  border-top: 2px solid $black;

  &__message {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: $headingFont;
    padding: 0 5%;
    color: $black;
  }

  &__links {
    list-style: none;
    font-family: $headingFont;
    padding: 0 5%;
    white-space: nowrap;
    margin-right: 5%;

    &-sectionLink {
      display: inline;
      font-size: 1.5rem;
      text-decoration: none;
      color: $black;
      margin: 0 3%;
    }
  }
}
