*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$yellow: #fcd91f;
$red: #f25230;
$white: #ffffff;
$black: #000000;
$blue: #0078b5;
$grey: #c4c4c4;
$green: #4c926d;
$grey2: #2f3131;
$brown: #392c35;

// defining the fonts
$headingFont: 'Fraunces', serif;
$bodyFont: 'Commissioner', sans-serif;
// section borders
$border-height:4px;



// Breakpoints 
$mobile-breakpoint: 320px;
$pop-up-breakpoint: 400px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

// font size 
$mobile-heading: 2.5em;
