$yellow: #fcd91f;
$red: #f25230;
$white: #ffffff;
$black: #000000;
$blue: #0078b5;
$grey: #c4c4c4;
$green: #4c926d;
$grey2: #2f3131;
$brown: #392c35;

// defining the fonts
$headingFont: 'Fraunces', serif;
$bodyFont: 'Commissioner', sans-serif;
// section borders
$border-height:4px;
